#map {
  width: 82vw;
  height: 86.5vh;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bs-body-font-family: "Poppins", sans-serif;
}

.sidebar {
  background: #f7f7f7;
  min-width: 250px;
  max-width: 250px;
  min-height: 100%;
  transition: all 0.3s ease;
}
.card-name {
  font-size: medium;
  font-weight: bold;
}
.card-text {
  font-size: small;
}
.search-box {
  width: 215px;
  height: 35px;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-box > i {
  font-size: 18px;
  color: #777;
}

.search-box > input {
  flex: 1;
  margin-left: 10px;
  max-width: 165px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #777;
}

.name {
  font-weight: 500;
}

ul > li > a {
  font-size: 18px;
  color: #777;
}

li > a > span {
  flex: 1;
  margin-left: 3rem;
  font-size: 15px;
}

.navbar-brand {
  font-weight: 600;
}

.content {
  min-height: 100vh;
  width: 100%;
  background: #e9ecef;
}

.navbar {
  background: #ffffff;
}

.card {
  border: 0 solid #ffffff !important;
}
.radius {
  border-radius: 10px;
  object-fit: cover;
}
.harga {
  color: #055ffc;
  font-weight: bold;
}
.textwhite {
  color: #fff;
}
.btn-style {
  border-radius: 50px;
  padding: 10px 0 10px 0;
}
.reviewBtn {
  text-decoration: none;
  color: #000;
}
.input-group span .red {
  color: red;
  cursor: pointer;
}
.fa-2xl {
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
.inputFoto {
  color: #000;
  height: 30px;
  width: 250px;
  border: 1px solid;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .sidebar {
    margin-left: -250px;
    position: fixed;
    z-index: 1;
  }
  .sidebar.active {
    margin-left: 0;
  }
  .breadcrumb {
    justify-content: center;
  }
}
.harga {
  color: #055ffc;
  font-weight: bold;
}
